#go-top {
    position: fixed;
	width: 40px;
	height: 40px;
    bottom: 10px;
    right: 10px;
    display: none;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 40px;
	height: 40px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }